@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DistroLogos';
  src: url('/distro-logos.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* Required for transparent window with rounded corners */
body {
  background: transparent;
}

/* Custom styles for Electron's draggable title bar */
.draggable-region {
  -webkit-app-region: drag;
}
.non-draggable-region {
  -webkit-app-region: no-drag;
}

/* Custom scrollbar for a more integrated look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1f2937; /* primary */
}
::-webkit-scrollbar-thumb {
  background: #374151; /* primary-light */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4b5563; /* Gray 600 */
}